    
<%- include('./paetials/header.ejs')%>

    
    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form3Example4" name="password" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
      </div>

      <!-- Confirm Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form3Example4" name="confirmPassword" class="form-control" />
        <label class="form-label" for="form3Example4">Confirm Password</label>
      </div>